{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="container">
  {% include "store/includes/mainnav.html"%}
  <hr class="text-secondary">
    <h3>Home After Logged In</h3>
    <div class="d-flex my-5">
        <form class="d-flex mx-auto col-6">
            <input class="form-control me-0" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success " type="submit">Search</button>
          </form>
    </div>

<div class="row d-flex mx-auto">

<div class="card m-3 p-0 mx-auto bg-light shadow-sm" style="width: 18rem;">
  <!-- <img src="{% static 'images/thunder.jpg' %}" class="card-img-top" alt="thunder"> -->
  <!-- <img src="info-dredd.jpg" class="card-img" alt="thunder"> -->
  <div class="card-head p-5  bg-primary text-primary">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <div class="card-body">
    <h6 class="card-title">Card title</h6>
    <p class="card-text">Some quick example text to build on the </p>
  </div>
  <div class="card-footer ">
    <a href="{% url 'details' %}" class="btn btn-sm btn-outline-primary text-secondary ">View More</a>
    <a href="{% url 'checkout' %}" class="btn btn-sm btn-outline-primary text-secondary  ms-2">Order Now</a>
        </div>

</div>
<div class="card m-3 p-0 mx-auto bg-light shadow-sm" style="width: 18rem;">
    <!-- <img src="{% static 'images/thunder.jpg' %}" class="card-img-top" alt="thunder"> -->
    <!-- <img src="info-dredd.jpg" class="card-img" alt="thunder"> -->
    <div class="card-head p-5  bg-primary text-primary">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <div class="card-body">
        <h6 class="card-title">Card title</h6>
      <p class="card-text">Some quick example text to build on the </p>
    </div>
    <div class="card-footer ">
<a href="{% url 'details' %}" class="btn btn-sm btn-outline-primary text-secondary ">View More</a>
<a href="{% url 'checkout' %}" class="btn btn-sm btn-outline-primary text-secondary  ms-2">Order Now</a>
    </div>
  </div>

  <div class="card m-3 p-0 mx-auto bg-light shadow-sm" style="width: 18rem;">
    <!-- <img src="{% static 'images/thunder.jpg' %}" class="card-img-top" alt="thunder"> -->
    <!-- <img src="info-dredd.jpg" class="card-img" alt="thunder"> -->
    <div class="card-head p-5  bg-primary text-primary">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <div class="card-body">
        <h6 class="card-title">Card title</h6>
      <p class="card-text">Some quick example text to build on the </p>
    </div>
        <div class="card-footer ">
<a href="{% url 'details' %}" class="btn btn-sm btn-outline-primary text-secondary ">View More</a>
<a href="{% url 'checkout' %}" class="btn btn-sm btn-outline-primary text-secondary  ms-2">Order Now</a>
    </div>
  </div>


</div>
{% endblock content %}
