  #A:hover{
    font-weight: 600;
  }
  #i:hover{
    font-weight: 800;
  }
  #V:hover{
    font-weight: 600;
  }
  #E:hover{
    font-weight: 600;
  }
  #R:hover{
    font-weight: 600;
  }
  #s:hover{
    font-weight: 600;
  }
